<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <header>Microservice UNIX/UTC Timestamp API</header>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <p>Type the date in either Unix time or Year-Month-Day at the end of the URL for a JSON timestamp!</p>
      <ul>
        <li><a href="api/1992-07-08">/api/timestamper/1992-07-08</a></li>
        <li><a href="api/710553600000">/api/timestamper710553600000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":710553600000, "utc":"Wed, 08 Jul 1992 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://www.developwithderek.com/">!DMR</a>
      </p>
    </div>
  </body>
</html>
